<!doctype html>
<html>
  <head>
    <title>Local</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="google" content="notranslate" />
    <meta name="path" content="<%= request.path %>" />
    <%=  %>
  </head>
  <body>
    <div id="content"></div>
    <div id="spinner"></div>

    <script src="bundle.js"></script>
  </body>
</html>
